<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Room2html</title>
  <style>
    body {
      background-color: #7cfc00
    }
  </style>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1 th:if="${login_user}">Room2 Get! Hello <font color="red">[[${login_user}]]</font></h1>

  <form action="/Room2" method="POST" accept-charset="utf-8">
    <p>チャット<br>
      <textarea name="chat" rows="4" cols="40" placeholder="ここに会話内容を記入してください"></textarea>
    </p>
    <p><input type="submit" value="送信"></p>
  </form>

  <p th:if="${log}">
    [[${log}]]
  </p>

</body>

</html>
